POSTGRES_DSN=postgres://metroride:metroride@postgres:5432/metroride?sslmode=disable
REDIS_ADDR=redis:6379
RIDER_SERVICE_ADDR=:8080
DRIVER_SERVICE_ADDR=:8081
DISPATCH_SERVICE_ADDR=:8082
ROUTING_SERVICE_ADDR=:8083
TRAFFIC_SERVICE_ADDR=:8084
NOTIFICATION_SERVICE_ADDR=:8085
ROUTING_SERVICE_URL=http://routing-service:8083
